<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.BrandCategoryMapper">

    <!--int insert(BrandCategory brandCategory);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand_category (
            brand_id,category_id,gmt_create,gmt_modified
        ) values (
            #{brandId},#{categoryId},#{gmtCreate},#{gmtModified}
                 )
    </insert>

    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        delete from pms_brand_category where id=#{id}
    </delete>

    <update id="updateNameById">
        update pms_brand_category set name= #{name} where id=#{id}
    </update>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        delete from pms_brand_category where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>



    <select id="count" resultType="int">
        select count(*) from pms_brand_category
    </select>

    <select id="getById" resultMap="DetailResultMap">
        select
        <include refid="DetailQueryFields" />
        from
        pms_brand_category

        where
        id=#{id}
    </select>

    <resultMap id="DetailResultMap" type="cn.tedu.csmall.server.pojo.vo.BrandCategoryDetailVO">
        <result column="brand_id" property="brandId" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <sql id="DetailQueryFields">
        <if test="true">
            id, brand_id, category_id
        </if>
    </sql>


    <select id="list" resultMap="ListItemResultMap">
        select
        <include refid="ListItemQueryFields" />
        from
        pms_brand_category
        order by id
    </select>

    <resultMap id="ListItemResultMap" type="cn.tedu.csmall.server.pojo.vo.BrandCategoryListItemVO">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <sql id="ListItemQueryFields">
        id, brand_id, category_id
    </sql>
</mapper>
