<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.BrandMapper">

    <!-- int insert(Brand brand); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand (
            name, pinyin, logo, description, keywords,
            sort, sales, product_count, comment_count, positive_comment_count,
            enable, gmt_create, gmt_modified
        ) values (
                     #{name}, #{pinyin}, #{logo}, #{description}, #{keywords},
                     #{sort}, #{sales}, #{productCount}, #{commentCount}, #{positiveCommentCount},
                     #{enable}, #{gmtCreate}, #{gmtModified}
                 )
    </insert>

    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        delete from pms_brand where id=#{id}
    </delete>

    <update id="updateNameById">
        update pms_brand set name= #{name} where id=#{id}
    </update>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        delete from pms_brand where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>


    <!-- int updateById(Brand brand); -->
    <update id="updateById">
            update
                pms_brand
            <set>
                <if test="name != null">
                    name =#{name},
                </if>

                <if test="pinyin != null">
                    pinyin = #{pinyin},
                </if>

                <if test="logo != null">
                    logo = #{logo},
                </if>

                <if test="description != null">
                    description=#{description},
                </if>
                <if test="keywords != null">
                    keywords=#{keywords},
                </if>
                <if test="sort != null">
                    sort=#{sort},
                </if>
                <if test="sales != null">
                    sales=#{sales},
                </if>
                <if test="productCount != null">
                    product_count=#{productCount},
                </if>
                <if test="commentCount != null">
                    comment_count=#{commentCount},
                </if>
                <if test="positiveCommentCount != null">
                    positive_comment_count=#{positiveCommentCount},
                </if>
                <if test="enable != null">
                    enable=#{enable},
                </if>
            </set>
                where
                    id=#{id}
    </update>


    <select id="count" resultType="int">
        select count(*) from pms_brand
    </select>

    <select id="getById" resultMap="DetailResultMap">
        select
            <include refid="DetailQueryFields" />
         from
              pms_brand

        where
              id=#{id}
    </select>

    <resultMap id="DetailResultMap" type="cn.tedu.csmall.server.pojo.vo.BrandDetailVo">
        <result column="product_count" property="productCount" />
        <result column="comment_count" property="commentCount" />
        <result column="positive_comment_count" property="positiveCommentCount" />
    </resultMap>

    <select id="list" resultMap="ListItemResultMap">
        select
            <include refid="ListItemQueryFields" />
        from
            pms_brand
        order by id
    </select>

    <sql id="DetailQueryFields">
        <if test="true">
            id, name, pinyin, logo, description,
            keywords, sort, sales, product_count, comment_count,
            positive_comment_count, enable
        </if>
    </sql>

    <sql id="ListItemQueryFields">
        id, name, pinyin, logo, description,
            keywords, sort, sales, product_count, comment_count,
            positive_comment_count, enable
    </sql>

    <resultMap id="ListItemResultMap" type="cn.tedu.csmall.server.pojo.vo.BrandListItemVO">
        <id column="id" property="id" />
        <result column="product_count" property="productCount" />
        <result column="comment_count" property="commentCount" />
        <result column="positive_comment_count" property="positiveCommentCount" />
    </resultMap>

    <select id="listPage" resultMap="ListItemResultMap">
        select
            <include refid="ListItemQueryFields" />
        from
            pms_brand
        order by id
        limit ${offset},${count}
    </select>


    <select id="getByName" resultMap="DetailResultMap">
        select
        <include refid="DetailQueryFields" />
        from
        pms_brand
        where name=#{name}
    </select>

    <!-- int countByName(String name); -->
    <select id="countByName" resultType="int">
        SELECT count(*) FROM pms_brand where name=#{name}
    </select>

 </mapper>
