<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.CategoryMapper">

    <!-- int insert(Category category); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_category (
            name,depth,keywords,sort,icon,
            enable,is_parent,is_display,gmt_create,gmt_modified
        ) values (
            #{name},#{depth},#{keywords},#{sort},#{icon},
            #{enable},#{isParent},#{isDisplay},#{gmtCreate},#{gmtModified}
                 )
    </insert>


    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        delete from pms_category where id=#{id}
    </delete>

    <update id="updateNameById">
        update pms_category set name= #{name} where id=#{id}
    </update>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        delete from pms_category where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <select id="count" resultType="int">
        select count(*) from pms_category
    </select>




    <select id="getById" resultMap="DetailResultMap">
        select
        <include refid="DetailQueryFields" />
        from
        pms_category
        where
        id=#{id}
    </select>

    <sql id="DetailQueryFields">
        id, name, parent_id, depth,keywords, sort,icon,enable,is_parent,is_display
    </sql>

    <resultMap id="DetailResultMap" type="cn.tedu.csmall.server.pojo.vo.CategoryDetailVO">
        <result column="parent_id" property="parent_Id" />
        <result column="is_parent" property="isParent" />
        <result column="is_display" property="isDisplay" />
    </resultMap>

    <select id="list" resultMap="ListCategory">
        select
        <include refid="ListItemQueryFields" />
        from
        pms_category
        order by id
    </select>

    <sql id="ListItemQueryFields">
        <if test="true">
             id, name, parent_id, depth,keywords, sort,icon,enable,is_parent,is_display
        </if>
    </sql>

    <resultMap id="ListCategory" type="cn.tedu.csmall.server.pojo.vo.CategoryListItemVO">
        <result column="parent_id" property="parentId" />
        <result column="is_parent" property="isParent" />
        <result column="is_display" property="isDisplay" />
    </resultMap>



</mapper>
