<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.CategoryMapper">

    <!-- int insert(Category category); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category (
            name, parent_id, depth, keywords, sort,
            icon, enable, is_parent, is_display
        ) VALUES (
            #{name}, #{parentId}, #{depth}, #{keywords}, #{sort},
            #{icon}, #{enable}, #{isParent}, #{isDisplay}
        )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_category
        WHERE
            id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_category
        WHERE
            id IN (
                <foreach collection="array" item="id" separator=",">
                    #{id}
                </foreach>
            )
    </delete>

    <!-- int count() -->
    <select id="count" resultType="int">
        SELECT count(*) FROM pms_category
    </select>

    <!-- int countByName(String name); -->
    <select id="countByName" resultType="int">
        SELECT count(*) FROM pms_category WHERE name=#{name}
    </select>

    <!-- CategoryDetailVO getById(Long id); -->
    <select id="getById" resultMap="DetailResultMap">
        SELECT
            <include refid="DetailQueryFields" />
        FROM
            pms_category
        WHERE
            id=#{id}
    </select>

    <!-- List<CategoryListItemVO> listByParentId(Long parentId); -->
    <select id="listByParentId" resultMap="ListItemResultMap">
        SELECT
            <include refid="ListItemQueryFields" />
        FROM
            pms_category
        WHERE
            parent_id=#{parentId}
        ORDER BY id
    </select>

    <sql id="DetailQueryFields">
        <if test="true">
            id, name, parent_id, depth, keywords,
            sort, icon, enable, is_parent, is_display
        </if>
    </sql>

    <resultMap id="DetailResultMap" type="cn.tedu.csmall.server.pojo.vo.CategoryDetailVO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="is_parent" property="isParent" />
        <result column="is_display" property="isDisplay" />
    </resultMap>

    <sql id="ListItemQueryFields">
        <if test="true">
            id, name, parent_id, depth, keywords,
            sort, icon, enable, is_parent, is_display
        </if>
    </sql>

    <resultMap id="ListItemResultMap" type="cn.tedu.csmall.server.pojo.vo.CategoryListItemVO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="is_parent" property="isParent" />
        <result column="is_display" property="isDisplay" />
    </resultMap>

</mapper>
