<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.PictureMapper">

    <!-- int insert(Picture picture); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_picture (
            url,description,width,height,is_cover,
            sort,gmt_create,gmt_modified
        ) values (
            #{url},#{description},#{width},#{height},#{isCover},
            #{sort},#{gmtCreate},#{gmtModified}
                 )
    </insert>
</mapper>
