<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.PictureMapper">

    <!-- int insert(Picture picture); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_picture (
            album_id, url, is_cover, description, width,
            height, sort
        ) values (
            #{albumId}, #{url}, #{isCover}, #{description}, #{width},
            #{height}, #{sort}
        )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_picture
        WHERE
            id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_picture
        WHERE
            id IN (
                <foreach collection="array" item="id" separator=",">
                    #{id}
                </foreach>
            )
    </delete>

</mapper>
