<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.server.mapper.SpuMapper">

    <!-- int insert(Spu spu); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pms_spu(
           id,name,type_number,title,description,list_price,
           stock,stock_threshold,unit,brand_id,brand_name,
           category_id,category_name,attribute_template_id,album_id,pictures,keywords,
           tags,sales,comment_count,positive_comment_count,sort,
           is_deleted,is_published,is_new_arrival,is_recommend,is_checked,
           check_user,gmt_check,gmt_create,gmt_modified
           )
        values (
            #{id},#{name},#{typeNumber},#{title},#{description},#{listPrice},
            #{stock},#{stockThreshold},#{unit},#{brandId},#{brandName},
            #{categoryId},#{categoryName},#{attributeTemplateId},#{albumId},#{pictures},#{keywords},
            #{tags},#{sales},#{commentCount},#{positiveCommentCount},#{sort},
            #{isDeleted},#{isPublished},#{isNewArrival},#{isRecommend},#{isChecked},
            #{checkUser},#{gmtCheck},#{gmtCreate},#{gmtModified}
               )
    </insert>

    <!--int deleteById(Long id);-->
    <delete id="deleteById">
        delete
        from pms_spu
        where id = #{id}
    </delete>

    <update id="updateNameById">
        update pms_spu
        set name= #{name}
        where id = #{id}
    </update>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        delete from pms_spu where id in (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>



    <select id="getById" resultMap="DetailResultMap">
        select
        <include refid="DetailQueryFields" />
        from
        pms_spu
        where
        id=#{id}
    </select>

    <sql id="DetailQueryFields">
        id, name, type_number, title, description,
        list_price, stock, stock_threshold, unit, brand_id,
        brand_name, category_id, category_name, attribute_template_id, album_id,
        pictures, keywords, tags, sales, comment_count,
        positive_comment_count, sort, is_deleted, is_published, is_new_arrival,
        is_recommend, is_checked, check_user, gmt_check
    </sql>

    <resultMap id="DetailResultMap" type="cn.tedu.csmall.server.pojo.vo.SpuDetailVO">
        <result column="type_number" property="typeNumber" />
        <result column="list_price" property="listPrice" />
        <result column="stock_threshold" property="attributeName" />
        <result column="brand_id" property="attributeValue" />
        <result column="brand_name" property="brandName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="attribute_template_id" property="attributeTemplateId" />
        <result column="album_id" property="albumId" />
        <result column="comment_count" property="commentCount" />
        <result column="positive_comment_count" property="positiveCommentCount" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_published" property="isPublished" />
        <result column="is_new_arrival" property="isNewArrival" />
        <result column="is_recommend" property="isRecommend" />
        <result column="is_checked" property="isChecked" />
        <result column="check_user" property="checkUser" />
        <result column="gmt_check" property="gmtCheck" />
    </resultMap>

    <select id="list" resultMap="ListCategory">
        select
        <include refid="ListItemQueryFields" />
        from
        pms_spu
        order by id
    </select>

    <sql id="ListItemQueryFields">
        <if test="true">
            id, name, type_number, title, description,
            list_price, stock, stock_threshold, unit, brand_id,
            brand_name, category_id, category_name, attribute_template_id, album_id,
            pictures, keywords, tags, sales, comment_count,
            positive_comment_count, sort, is_deleted, is_published, is_new_arrival,
            is_recommend, is_checked, check_user, gmt_check
        </if>
    </sql>

    <resultMap id="ListCategory" type="cn.tedu.csmall.server.pojo.vo.SpuListItemVO">
        <result column="type_number" property="typeNumber" />
        <result column="list_price" property="listPrice" />
        <result column="stock_threshold" property="attributeName" />
        <result column="brand_id" property="attributeValue" />
        <result column="brand_name" property="brandName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="attribute_template_id" property="attributeTemplateId" />
        <result column="album_id" property="albumId" />
        <result column="comment_count" property="commentCount" />
        <result column="positive_comment_count" property="positiveCommentCount" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_published" property="isPublished" />
        <result column="is_new_arrival" property="isNewArrival" />
        <result column="is_recommend" property="isRecommend" />
        <result column="is_checked" property="isChecked" />
        <result column="check_user" property="checkUser" />
        <result column="gmt_check" property="gmtCheck" />
    </resultMap>
</mapper>
